<launch>
  <!-- Load parameters -->
  <rosparam command="load" 
            file="$(find surveillance_system)/config/simulation_params.yaml" />

  <!-- Camera Node -->
  <node pkg="surveillance_system_camera" 
        type="camera_node" 
        name="camera_node" 
        output="screen">
      <param name="frame_width" value="1920"/>
      <param name="frame_height" value="1080"/>
      <param name="frame_rate" value="30"/>
  </node>

  <!-- Motion Detection Node -->
  <node pkg="surveillance_system_motion_detection" 
        type="motion_detector_node" 
        name="motion_detection_node" 
        output="screen">
    <param name="engine_file" value="$(find surveillance_system)/models/yolov8_finetuned_fp16.engine"/>
    <param name="confidence_threshold" value="0.45"/>
    <param name="enable_viz" value="true"/>
  </node>

  <!-- Image Visualization Nodes -->
  <node pkg="image_view" 
        type="image_view" 
        name="raw_view">
      <remap from="image" to="/camera_node/image_raw"/>
  </node>
  
  <node pkg="image_view" 
        type="image_view" 
        name="detection_view">
      <remap from="image" to="/yolo/runtime_detectionVisualizationDebug"/>
  </node>
</launch>